# Source Code: Multiple Variables Regression

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import sklearn

# Success
print('Using Scikit-Learn version', sklearn.__version__)

Using Scikit-Learn version 0.18.1

In [2]:
# Load the Data
data_train = pd.read_csv('data/reg2_data.csv')
data_test = pd.read_csv('data/reg2_check.csv')

## Splitting Dataset into Training and Testing Sets

In [3]:
# Split the Data into Training and Testing Sets
target_fields = ['TGT0','TGT1','TGT2','TGT3']
features_train, targets_train = data_train.drop(target_fields, axis=1), data_train[target_fields]
features_test, targets_test = data_test.drop(target_fields, axis=1), data_test[target_fields]

In [4]:
features_train

,Value00,Value01,Value02,Value03,Value04,Value05,Value06,Value07,Value08,Value09
0,1.24,-0.87,-0.53,-0.34,-0.25,-0.58,-0.62,2.35,1.34,-1.14
1,-0.34,1.14,-0.53,0.24,-0.47,0.97,-1.46,0.30,-0.81,-0.01
2,0.06,0.41,2.21,-0.88,-0.35,-0.33,0.01,1.21,-1.43,-0.58
3,-1.00,-0.30,1.37,-0.09,1.03,-0.07,-1.22,-0.60,1.55,1.03
4,-0.30,0.91,0.01,-1.06,0.79,0.73,1.11,-0.13,0.09,-0.37
5,-0.31,-1.18,0.61,-0.06,-0.15,-1.32,0.00,0.15,-0.65,-1.84
6,0.48,0.62,-1.01,-0.97,0.41,-1.69,-1.67,-0.69,1.43,0.86
7,-0.02,-0.64,-0.69,1.71,0.71,-0.45,-0.59,-1.02,0.70,-0.59
8,-0.14,-1.35,-0.45,-1.45,0.32,-0.47,-0.96,0.51,-0.33,-0.40
9,-0.53,-0.24,1.67,-2.12,-0.72,0.20,0.36,-1.46,-0.51,1.99
10,-0.28,0.13,0.17,-1.05,-0.48,-0.70,-1.25,0.17,-0.34,0.45
11,-0.36,-1.17,1.30,0.70,-0.22,0.35,0.93,0.53,0.58,0.87
12,-1.22,-0.92,0.40,-0.42,0.50,-1.77,0.25,-0.47,-0.20,-0.65
13,0.22,0.47,0.50,0.10,1.33,-0.04,-0.66,-0.04,0.26,0.73
14,2.23,0.42,-1.79,0.36,1.12,-0.50,-0.26,0.85,0.67,0.36
15,0.12,-0.91,-0.30,0.26,-2.03,0.26,0.21,-0.54,-0.12,0.35
16,1.52,0.11,-0.59,2.88,-0.76,-0.65,0.24,-1.03,-0.78,0.39
17,-0.18,0.48,-0.96,-0.24,-0.36,-0.22,-1.85,-0.79,-0.01,-0.24
18,-0.86,-1.15,0.56,0.69,-0.97,0.04,-2.08,1.37,-0.03,-1.48
19,-1.04,0.25,0.72,-0.78,0.66,-0.42,0.35,-0.52,-0.92,1.75
20,0.55,-0.76,0.64,0.86,0.65,0.79,-0.32,0.76,0.78,0.59
21,-0.14,0.61,-1.15,-0.60,1.10,0.98,0.03,-1.11,-0.55,0.29
22,-0.06,0.97,-0.20,1.57,2.03,-2.24,0.53,0.57,-0.04,-0.36
23,-0.46,1.05,-1.17,-0.55,-0.94,1.20,-0.12,-1.64,2.63,-0.58
24,-1.21,-0.79,0.46,-1.40,2.38,1.14,-0.42,-0.95,0.76,-2.16
25,-1.80,0.00,0.67,0.69,-0.49,1.06,-0.20,-1.46,0.43,-0.01
26,0.49,-0.36,-1.08,0.41,0.38,1.23,0.82,-0.70,-0.04,0.09
27,1.33,-1.53,-1.28,-0.79,-0.71,-0.51,-0.76,-0.45,-1.39,1.16
28,-1.46,-0.49,-0.18,-0.06,-0.67,0.66,-0.84,0.63,0.20,-0.11
29,0.37,0.37,-3.02,-2.30,-0.42,1.13,-0.38,0.17,1.99,0.77
...,...,...,...,...,...,...,...,...,...,...
970,0.30,1.12,-0.77,-0.05,-1.42,-0.85,-1.52,-0.98,-1.36,-0.95
971,0.31,-0.25,0.51,-1.41,-2.16,-0.86,0.19,-0.81,-1.17,-1.36
972,-1.02,-1.66,0.39,-1.70,-2.26,-1.47,0.04,1.65,0.16,-0.99
973,-0.37,-1.71,-1.35,-1.14,1.05,-1.69,-0.07,-1.66,-1.34,-0.16
974,0.57,-1.54,-0.29,0.54,1.63,-2.37,-0.79,-0.26,0.13,-0.77
975,-0.06,1.82,0.57,-1.51,1.00,1.83,0.31,1.64,-1.33,-0.61
976,1.80,-0.03,0.09,1.31,0.01,-0.19,0.95,1.18,1.04,-0.29
977,0.27,1.40,0.88,-0.10,-0.09,0.37,2.12,0.49,0.76,-0.43
978,0.42,0.05,-0.74,0.50,-1.20,0.91,0.69,2.68,-0.20,1.35
979,-0.61,1.93,-0.17,-0.73,0.63,1.24,-0.23,0.94,-1.02,1.95
980,-0.84,-0.40,-0.09,-1.30,-2.31,-0.67,-1.54,0.80,-0.89,-0.42
981,0.53,-1.35,1.32,-2.37,-0.51,-0.87,0.83,-0.10,-1.68,-1.56
982,-1.38,-0.50,-1.00,-2.64,-0.68,-1.17,-0.12,0.43,-0.49,1.30
983,-1.22,-1.46,-1.10,-2.72,0.02,0.09,-0.65,-0.48,1.40,0.17
984,-0.78,-1.04,0.57,-1.62,1.90,-2.31,-0.19,-2.26,0.38,1.18
985,-0.44,1.33,-0.18,0.06,-0.59,-0.32,0.02,2.34,-0.61,1.58
986,0.24,-1.32,-0.42,1.04,-0.62,0.73,2.03,1.23,1.37,1.40
987,1.70,1.83,1.43,-0.97,2.49,-0.48,0.14,0.47,-0.09,0.36
988,1.48,-0.78,0.26,1.00,0.93,-1.46,-1.88,-1.15,0.10,-1.40
989,1.09,2.13,-1.21,-1.44,-0.79,-0.04,0.23,1.27,0.21,0.94
990,0.82,-1.55,1.14,1.68,-1.53,-0.61,-1.20,-1.07,-0.12,-0.60
991,0.28,1.73,0.72,0.50,-0.51,0.94,2.33,1.78,2.07,-0.14
992,-0.79,-1.66,1.20,-0.66,-1.59,-2.57,-0.62,-0.62,0.34,0.44
993,-0.80,-1.04,-1.46,-1.76,0.53,-0.34,1.17,-1.15,0.14,0.06
994,-0.88,-1.46,-0.69,0.75,-0.62,-1.14,1.38,-1.82,-2.06,-1.29
995,1.95,-0.52,0.88,-0.47,-1.37,0.71,-0.48,2.45,-0.21,1.02
996,-1.50,1.77,1.26,-0.06,0.70,0.38,2.53,1.32,-0.17,-0.17
997,-0.28,-2.58,0.23,2.10,-1.13,0.97,-0.74,-1.24,0.68,-1.18
998,1.66,0.42,1.45,0.34,-0.21,-0.49,-0.85,0.25,0.88,2.01
999,-0.03,0.82,0.18,2.06,-0.07,-0.76,0.48,1.44,1.20,0.90

## Data Exploration

In [4]:
# Number of Features and Targets
num_features = features_train.shape[1]
num_targets = targets_train.shape[1]

print("The training dataset dataset has {} data points with {} variables each.".format(*data_train.shape))
print("The testing dataset dataset has {} data points with {} variables each.".format(*data_test.shape))
print("The dataset has {} number of feature variables.".format(num_features))
print("The dataset has {} number of target variables.".format(num_targets))

The training dataset dataset has 1000 data points with 14 variables each.
The testing dataset dataset has 105 data points with 14 variables each.
The dataset has 10 number of feature variables.
The dataset has 4 number of target variables.

In [5]:
# Row and column sizes: Training Data
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
Value00    1000 non-null float64
Value01    1000 non-null float64
Value02    1000 non-null float64
Value03    1000 non-null float64
Value04    1000 non-null float64
Value05    1000 non-null float64
Value06    1000 non-null float64
Value07    1000 non-null float64
Value08    1000 non-null float64
Value09    1000 non-null float64
TGT0       1000 non-null float64
TGT1       1000 non-null float64
TGT2       1000 non-null float64
TGT3       1000 non-null float64
dtypes: float64(14)
memory usage: 109.5 KB

In [6]:
# Mean, Stddev, Min, Max Values: Training Data
datatrain_describe = data_train.describe()
datatest_describe = data_test.describe()

datatrain_describe

,Value00,Value01,Value02,Value03,Value04,Value05,Value06,Value07,Value08,Value09,TGT0,TGT1,TGT2,TGT3
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000
mean,-0.053770,-0.047270,0.021190,-0.019120,-0.038300,-0.046830,-0.033790,-0.016430,0.058730,-0.009080,87.47173,91.664730,94.518420,90.352870
std,0.974953,0.990043,0.982625,1.016896,0.999852,1.008939,0.991402,1.005754,0.954923,0.946831,169.21764,143.648337,168.817263,196.360771
min,-2.760000,-2.840000,-3.020000,-2.810000,-3.740000,-3.070000,-2.840000,-3.120000,-3.390000,-2.990000,-355.86000,-368.270000,-436.150000,-564.110000
25%,-0.730000,-0.710000,-0.622500,-0.760000,-0.680000,-0.720000,-0.712500,-0.762500,-0.552500,-0.652500,-27.26750,-9.247500,-16.052500,-33.852500
50%,-0.060000,-0.080000,-0.005000,-0.020000,-0.030000,-0.030000,0.000000,-0.050000,0.050000,-0.010000,86.16500,92.915000,86.595000,91.370000
75%,0.600000,0.640000,0.690000,0.672500,0.630000,0.637500,0.620000,0.652500,0.670000,0.640000,198.67000,189.027500,213.725000,222.695000
max,2.930000,2.660000,2.870000,3.210000,3.310000,3.430000,3.170000,3.800000,2.980000,3.090000,723.19000,585.310000,650.520000,705.460000

# Building Machine Learning Model

## Analytical Linear Regression (Ordinary Least Squares)

In [7]:
# Analytical Solution using Normal Equation
def analytic_normal(features_train, features_test, targets_train):
    
    # Append Bias Term to Features Matrix
    n_training_samples = features_train.shape[0]
    n_dimensions = features_train.shape[1]
    n_targets = targets_train.shape[1]
    
    # Features + Bias Matrix
    X = np.reshape(np.c_[np.ones(n_training_samples),features_train],[n_training_samples,n_dimensions + 1])
    
    # Targets Matrix
    Y = targets_train
    
    # Solve for Theta = (X(T).X)^(-1).X(T).Y
    # Theta will include Bias + Weights Matrix
    theta = np.dot(np.linalg.inv(np.matrix(np.dot(X.T, X))), np.dot(X.T, Y))
    theta = np.array(np.reshape(theta,(-1,n_targets)))
    
    # Split Theta into Bias and Weights
    bias = theta[0]
    weights = theta[1:]
    
    # Predictions on Training and Testing Sets
    pred_trn = np.dot(features_train, weights) + bias
    pred_tst = np.dot(features_test, weights) + bias
    
    return bias, weights, pred_trn, pred_tst

In [8]:
# Returning Solution to the Analytical Function
bias, weights, pred_trn, pred_tst = analytic_normal(features_train, features_test, targets_train)

### Results

In [9]:
# Create Dataframe for Linear Coefficients
inhouse_lc = pd.DataFrame(weights)
inhouse_lc.columns = ['TGT0', 'TGT1', 'TGT2', 'TGT3']
inhouse_lc = inhouse_lc.set_index(features_train.columns)

# Create Dataframe for Bias Value
inhouse_bias = pd.DataFrame(bias)
inhouse_bias.columns = ['Bias']
inhouse_bias = inhouse_bias.set_index(targets_train.columns)

# Merge Dataframe
inhouse_result = pd.concat([inhouse_lc.T, inhouse_bias], axis=1, join_axes=[inhouse_lc.T.index])

inhouse_result.T

               TGT0        TGT1        TGT2       TGT3
Value00   20.905332   41.552513   50.182144  82.005159
Value01   88.158113   45.449590   62.034891  69.434200
Value02   13.217732   43.906325   69.673260  63.395746
Value03    9.643977   40.141460   52.256499  73.243410
Value04    8.246295   33.614186    5.062020  14.806817
Value05   75.144577   36.345816    5.585402  81.583236
Value06   77.771108   50.226606   31.071148  13.283668
Value07   65.365560   46.032369   98.183041  67.698966
Value08   13.210945   35.044600   53.477449  79.023733
Value09   74.468893   82.573827   49.184078  43.227789
Bias     100.104347  100.019108  100.096213  99.801738

In [10]:
# Create Dataframe for R-Squared Values
from sklearn.metrics import r2_score
rsquared = np.array([r2_score(targets_train, pred_trn),r2_score(targets_test, pred_tst)])
rs_rows = np.array(['Training Data', 'Testing Data'])

inhouse_rs = pd.DataFrame(rsquared)
inhouse_rs.columns = ['R-Squared Accuracy']
inhouse_rs = inhouse_rs.set_index(rs_rows)

inhouse_rs

/home/andridsasmita/anaconda3/envs/tf3/lib/python3.5/site-packages/sklearn/metrics/regression.py:482: DeprecationWarning: Default 'multioutput' behavior now corresponds to 'variance_weighted' value which is deprecated since 0.17, it will be changed to 'uniform_average' starting from 0.19.
  DeprecationWarning)
/home/andridsasmita/anaconda3/envs/tf3/lib/python3.5/site-packages/sklearn/metrics/regression.py:482: DeprecationWarning: Default 'multioutput' behavior now corresponds to 'variance_weighted' value which is deprecated since 0.17, it will be changed to 'uniform_average' starting from 0.19.
  DeprecationWarning)

               R-Squared Accuracy
Training Data            0.999450
Testing Data             0.999839

## Analytical Linear Regression (Ordinary Least Squares) Using Scikit-Learn

In [11]:
# ML Linear Regression using Scikit-Learn
from sklearn.linear_model import LinearRegression

LinReg = LinearRegression()
LinReg.fit(features_train, targets_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

### Results

In [12]:
# Create Dataframe for Linear Coefficients
sklearn_lc = pd.DataFrame(LinReg.coef_.T)
sklearn_lc.columns = ['TGT0', 'TGT1', 'TGT2', 'TGT3']
sklearn_lc = sklearn_lc.set_index(features_train.columns)

# Create Dataframe for Bias Value
sklearn_bias = pd.DataFrame(LinReg.intercept_)
sklearn_bias.columns = ['Bias']
sklearn_bias = sklearn_bias.set_index(targets_train.columns)

# Merge Dataframe
sklearn_result = pd.concat([sklearn_lc.T, sklearn_bias], axis=1, join_axes=[sklearn_lc.T.index])

sklearn_result.T

               TGT0        TGT1        TGT2       TGT3
Value00   20.905332   41.552513   50.182144  82.005159
Value01   88.158113   45.449590   62.034891  69.434200
Value02   13.217732   43.906325   69.673260  63.395746
Value03    9.643977   40.141460   52.256499  73.243410
Value04    8.246295   33.614186    5.062020  14.806817
Value05   75.144577   36.345816    5.585402  81.583236
Value06   77.771108   50.226606   31.071148  13.283668
Value07   65.365560   46.032369   98.183041  67.698966
Value08   13.210945   35.044600   53.477449  79.023733
Value09   74.468893   82.573827   49.184078  43.227789
Bias     100.104347  100.019108  100.096213  99.801738

In [13]:
# Create Dataframe for R-Squared Values
rsquared = np.array([LinReg.score(features_train,targets_train), LinReg.score(features_test,targets_test)])
rs_rows = np.array(['Training Data', 'Testing Data'])

sklearn_rs = pd.DataFrame(rsquared)
sklearn_rs.columns = ['R-Squared Accuracy']
sklearn_rs = sklearn_rs.set_index(rs_rows)

sklearn_rs

               R-Squared Accuracy
Training Data            0.999450
Testing Data             0.999839

# Building Neural Network Model

## Single-Layer Neural Network Using Google TensorFlow

- Optimized Using Gradient Descent
- No Hidden Layer
- No Activation Function
- Predictions is therefore Y = W.X + b

In [14]:
# Import TF Library
import tensorflow as tf
print("Using Google TensorFlow version", tf.__version__)

Using Google TensorFlow version 1.0.0

In [15]:
# Build NN Architecture
def neural_network(learning_rate, epochs, features_train, targets_train, \
                   features_test, targets_test, size_in, size_out):

    # Start TensorFlow Graph
    tf.reset_default_graph()
    sess = tf.Session()
       
    # Inputs
    with tf.name_scope("Inputs"):
        x = tf.placeholder(tf.float32, shape=[None, size_in], name="features")
    
    # Targets    
    with tf.name_scope("Targets"):
        y = tf.placeholder(tf.float32, shape=[None, size_out], name="targets")

    # Single-Layer Dense Neural Network
    with tf.name_scope("Dense"):
        w = tf.Variable(tf.ones([size_in, size_out]), name="weights")
        b = tf.Variable(tf.constant(1.0, shape=[size_out]), name="biases")
        y_ = tf.add(tf.matmul(x, w), b)
        tf.summary.histogram("Weights", w)
        tf.summary.histogram("Biases", b)
        tf.summary.histogram("Predictions", y_)

    # Mean Squared Error (MSE) Cost Function
    with tf.name_scope("MSE-Cost"):
        mse = tf.reduce_mean(tf.square(y_ - y), name="MSE")
        tf.summary.scalar("Mean_Squared_Error", mse)

    # Gradient Descent Optimizer
    with tf.name_scope("Training"):
        train_step = tf.train.GradientDescentOptimizer(learning_rate).minimize(mse)

    # R-Squared Accuracy Score
    with tf.name_scope("R-Squared"):
        model_error = tf.reduce_sum(tf.square(tf.subtract(y, y_)))
        average_error = tf.reduce_sum(tf.square(tf.subtract(y, tf.reduce_mean(y))))
        # R-Squared Value
        accuracy = tf.subtract(1.0, (tf.div(model_error, average_error)))
        tf.summary.scalar("R_Squared_Value", accuracy)

    # Initialization
    summ = tf.summary.merge_all()  
    saver = tf.train.Saver()
    sess.run(tf.global_variables_initializer())
    writer = tf.summary.FileWriter('./logs/1/train')
    writer.add_graph(sess.graph)
    
    # Training Set
    for i in range(epochs):
        if i % 10 == 0:
            [train_accuracy, s] = sess.run([accuracy, summ], \
                        feed_dict={x: features_train, y: targets_train})
            writer.add_summary(s, i)
        sess.run(train_step, feed_dict={x: features_train, y: targets_train})
    
    # Results
    slope = sess.run(w)
    intercept = sess.run(b)
    pred_train = sess.run(y_, feed_dict={x: features_train, y: targets_train})
    pred_test = sess.run(y_, feed_dict={x: features_test, y: targets_test})

    
    return (slope, intercept, pred_train, pred_test)

print('Build successful!')

Build successful!

In [16]:
# Setting up Hyperparameters
learning_rate = 0.01
epochs = 5000

print('Using {} learning rate on {} training epochs'.format(learning_rate, epochs))

Using 0.01 learning rate on 5000 training epochs

In [17]:
# Run Training
(slope, intercept, pred_train, pred_test) = neural_network(learning_rate, epochs, \
        features_train, targets_train, features_test, targets_test, num_features, num_targets)

### Results

In [18]:
# Create Dataframe for Linear Coefficients
tensorflow_lc = pd.DataFrame(slope)
tensorflow_lc.columns = ['TGT0', 'TGT1', 'TGT2', 'TGT3']
tensorflow_lc = tensorflow_lc.set_index(features_train.columns)

# Create Dataframe for Bias Value
tensorflow_bias = pd.DataFrame(intercept)
tensorflow_bias.columns = ['Bias']
tensorflow_bias = tensorflow_bias.set_index(targets_train.columns)

# Merge Dataframe
tensorflow_result = pd.concat([tensorflow_lc.T, tensorflow_bias], axis=1, join_axes=[tensorflow_lc.T.index])

tensorflow_result.T

               TGT0        TGT1        TGT2       TGT3
Value00   20.904984   41.551949   50.181709  82.004158
Value01   88.157341   45.449181   62.034386  69.433388
Value02   13.217596   43.905907   69.672462  63.395287
Value03    9.644102   40.141880   52.256523  73.244209
Value04    8.246093   33.613712    5.061895  14.806627
Value05   75.143692   36.345295    5.585310  81.582352
Value06   77.770287   50.226204   31.070923  13.283564
Value07   65.365891   46.032795   98.182350  67.699799
Value08   13.211051   35.044247   53.477032  79.022911
Value09   74.467979   82.572884   49.183640  43.227200
Bias     100.103455  100.018280  100.095413  99.800919

In [19]:
# Create Dataframe for R-Squared Values
tf_rsquared = np.array([r2_score(targets_train, pred_train), r2_score(targets_test, pred_test)])
tf_rs_rows = np.array(['Training Data', 'Testing Data'])

tensorflow_rs = pd.DataFrame(tf_rsquared)
tensorflow_rs.columns = ['R-Squared Accuracy']
tensorflow_rs = tensorflow_rs.set_index(tf_rs_rows)

tensorflow_rs

/home/andridsasmita/anaconda3/envs/tf3/lib/python3.5/site-packages/sklearn/metrics/regression.py:482: DeprecationWarning: Default 'multioutput' behavior now corresponds to 'variance_weighted' value which is deprecated since 0.17, it will be changed to 'uniform_average' starting from 0.19.
  DeprecationWarning)
/home/andridsasmita/anaconda3/envs/tf3/lib/python3.5/site-packages/sklearn/metrics/regression.py:482: DeprecationWarning: Default 'multioutput' behavior now corresponds to 'variance_weighted' value which is deprecated since 0.17, it will be changed to 'uniform_average' starting from 0.19.
  DeprecationWarning)

               R-Squared Accuracy
Training Data            0.999450
Testing Data             0.999839

# Conclusion

## Merging Dataframes

In [20]:
# Merge Result Dataframes: Linear Coefficients & Biases
combined_result = pd.concat([inhouse_result, sklearn_result, tensorflow_result], \
                            keys=['In-House', 'Scikit-Learn', 'TensorFlow'])

combined_result.T

           In-House                                    Scikit-Learn  \
               TGT0        TGT1        TGT2       TGT3         TGT0
Value00   20.905332   41.552513   50.182144  82.005159    20.905332
Value01   88.158113   45.449590   62.034891  69.434200    88.158113
Value02   13.217732   43.906325   69.673260  63.395746    13.217732
Value03    9.643977   40.141460   52.256499  73.243410     9.643977
Value04    8.246295   33.614186    5.062020  14.806817     8.246295
Value05   75.144577   36.345816    5.585402  81.583236    75.144577
Value06   77.771108   50.226606   31.071148  13.283668    77.771108
Value07   65.365560   46.032369   98.183041  67.698966    65.365560
Value08   13.210945   35.044600   53.477449  79.023733    13.210945
Value09   74.468893   82.573827   49.184078  43.227789    74.468893
Bias     100.104347  100.019108  100.096213  99.801738   100.104347

                                            TensorFlow              \
               TGT1        TGT2       TGT3        TGT0        TGT1
Value00   41.552513   50.182144  82.005159   20.904984   41.551949
Value01   45.449590   62.034891  69.434200   88.157341   45.449181
Value02   43.906325   69.673260  63.395746   13.217596   43.905907
Value03   40.141460   52.256499  73.243410    9.644102   40.141880
Value04   33.614186    5.062020  14.806817    8.246093   33.613712
Value05   36.345816    5.585402  81.583236   75.143692   36.345295
Value06   50.226606   31.071148  13.283668   77.770287   50.226204
Value07   46.032369   98.183041  67.698966   65.365891   46.032795
Value08   35.044600   53.477449  79.023733   13.211051   35.044247
Value09   82.573827   49.184078  43.227789   74.467979   82.572884
Bias     100.019108  100.096213  99.801738  100.103455  100.018280


               TGT2       TGT3
Value00   50.181709  82.004158
Value01   62.034386  69.433388
Value02   69.672462  63.395287
Value03   52.256523  73.244209
Value04    5.061895  14.806627
Value05    5.585310  81.582352
Value06   31.070923  13.283564
Value07   98.182350  67.699799
Value08   53.477032  79.022911
Value09   49.183640  43.227200
Bias     100.095413  99.800919

In [21]:
# Merge Result Dataframes: R-Squared Values
combined_accuracy = pd.concat([inhouse_rs, sklearn_rs, tensorflow_rs], \
                            keys=['In-House', 'Scikit-Learn', 'TensorFlow'])

combined_accuracy

                            R-Squared Accuracy
In-House     Training Data            0.999450
             Testing Data             0.999839
Scikit-Learn Training Data            0.999450
             Testing Data             0.999839
TensorFlow   Training Data            0.999450
             Testing Data             0.999839

## Exporting Dataframes to CSV

In [22]:
# Export Data Statistics
datatrain_describe.to_csv('result/reg2_train_describe.csv')
datatest_describe.to_csv('result/reg2_test_describe.csv')

# Export Combined Result
combined_result.T.to_csv('result/reg2_results.csv')

# Export Accuracy Result
combined_accuracy.to_csv('result/reg2_accuracy.csv')